.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    height: 100vh;
    position: absolute;
    left: 0px;
    right: 0px;
    box-sizing: border-box;
    padding: 1%;
    margin-top: 1%;
}
.footer__services{
    font-family: "Gilroy-UltraLight";
    font-size: 26px;
    color: white;
}
.footer__contact_us{
    margin-top: 40px;
    width: 280px;
    height: 3px;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__contact_us::before{
    content: "contact us";
    font-family: "Gilroy-Bold";
    color:white;
    font-size: 50px;
    margin-bottom: 10px;
}
.footer__map{
    position:absolute;
    top: 230px;
    height: 700px;
}
.footer__message{
    width: 470px;
    height:65px;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    padding: 11px 14px 11px 14px;
    background-color: white;
    margin-top: 100px;
    font-family: "Gilroy-Regular";
    color: var(--primary-color);
    font-size: 22px;
    align-items: center;
    position: relative;
    z-index: 2;
}
.footer__message--point{
    position: absolute;
    top: 20px;
    width: 55px;
    height: 55px;
    transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
    background-color: white;
}
.footer__message>:first-child{
    margin-right: 20px;
}
.footer__message>:nth-child(2){
    margin-left: 10px;
}
.footer__logo{
    margin-top: 210px;
}
.footer__info{
    width: 350px;
    font-family: "Gilroy-UltraLight";
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 20px;
}
.footer__info p{
    margin: 10px;
}
.footer__info hr{
    width: 110px;
    height: 0px;
    border: none;
    border-top: 1px solid white;
    margin-top: 25px;
    margin-bottom: 20px;
}
.footer__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    font-family: "Gilroy-UltraLight";
    font-size: 20px;
    color: white;
}
.footer__icons{
    display: flex;
    gap:12px;
}
.footer__copyright{
    position: absolute;
    bottom:0px;
    font-family: "Gilroy-UltraLight";
    color: white;
    opacity: 50%;
    font-size: 20px;
}
.footer__map--dot{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.185);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__map--dot::before{
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: var(--accent-color);
    position: absolute;
}