html {
  height: 100%;
  width: 100%;
  margin: 0px;
  overflow-x: hidden;
}
body {
  margin: 0px;
}
:root {
  --primary-color: #283e51;
  --accent-color: #17ac9d;
}

.navigation__item--blog {
  border-bottom: 4px solid var(--accent-color);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__image {
  height: 468px;
}
.main__introduction {
  font-family: "Butler-Light";
  font-size: 72px;
  font-weight: lighter;
  color: var(--primary-color);
}
.main__rectangle {
  height: 268px;
  width: 605px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: -200px;
  margin-bottom: -60px;
  padding: 30px;
  background-position: 50% 50%;
  box-shadow: 0px 0px 30px #0000002e;
  border-radius: 8px;
  backdrop-filter: blur(16px);
  background-color: rgba(255, 255, 255, 0.712);
  opacity: 1;
}
.main__shape {
  position: absolute;
  z-index: -2;
}
.main__shape--first {
  width: 246px;
  height: 280px !important;
  right: 0px;
  top: 500px;
}
.main__shape--second {
  height: 536px !important;
  left: -160px;
  top: 2090px;
}
.main__shape--third {
  height: 570px !important;
  right: -215px;
  top: 2740px;
  opacity: 45%;
}
.main__rectangle h3 {
  font-family: "Gilroy-Bold";
  font-size: 36px;
  color: var(--primary-color);
  margin-bottom: 0px;
  margin-top: 5px;
}
.main__date {
  font-family: "Gilroy-Regular";
  font-size: 18px;
  color: var(--primary-color);
  margin-bottom: 30px;
}
.main__rectangle img {
  height: 57px;
  width: 221px;
}
@media only screen and (max-width: 1445px) {
  .main__image {
    height: 360px !important;
  }
  .main__rectangle {
    height: 220px;
    width: 500px;
    top: -155px;
    margin-bottom: -20px;
    padding: 30px;
  }
  .main__rectangle h3 {
    font-size: 29px;
  }
  .main__date {
    font-size: 15px;
    margin-bottom: 25px;
  }
  .main__rectangle img {
    width: 180px;
  }
  .main__shape--first {
    width: auto;
    height: 200px !important;
    top: 430px;
  }
  .main__shape--second {
    top: 1750px;
    height: 450px !important;
  }
  .main__shape--third {
    top: 2300px;
    height: 450px !important;
  }
}
